*{
    margin: 0;
    padding: 0;

}

.topheader{
    height: 15px;
    background-color: gray;
    padding-bottom: 7px;
    color: rgb(255, 255, 255);
}
.email{
    margin-left: 5px;
    float: left;
}
.insta{
    float: right;
    margin-right: 5px;
}
.header{
    
    height: 65px;
}
.header img{
    width: 50px;
    height: 40px;
    float: left;
    padding: 10px;
}
.title{
    width: 20%;
    float: left;
    padding-top: 18px;
    font-size: 28px;
    color: green;
    padding-bottom: 10px;
}
.login{
    margin-top: 15px;
    float: right;
    margin-right: 50px;
    background-color: green;
    color: white;
    border-radius: 4px;
    border: 8px solid green;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;

}
.login:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(180, 180, 255);
    border: 8px solid rgb(180, 180, 255);
}
.menubar{
    height: 30px;
    background-color: rgb(220, 213, 213);
}
.menubar ul li{
    list-style-type: none;
    float: left;
    padding: 2px 85px 0px 85px;
    font-size: large;
    border: 1px solid grey;
    text-align: center;
    
}
.menubar ul a{
    text-decoration: none;
    color: black;
}

.menubar ul li:hover{
    color: rgb(249, 249, 242);
    background-color: rgb(180, 180, 255);
}
.bodypart{
    height: 750px;
    width: 100%;
    
}
.bodypart h1{
    
    padding: 22px;
    color: red;
    text-align: center;
    
}
.bodypart h2{
    color: green;
    text-align: center;
}
.contents{
    text-align: center;
}
.note{
    text-align: center;
    background-color: yellow;
    border: 1px dashed red;
    padding: 10px;
}
#img{
    height: 400px;
    width: 500px;
    margin-left: 34%;
}
.courses{
    width: 80%;
    margin: 0 auto auto;
    
}
.coursediv{
    width: 20%;
    box-shadow: 3px 5px black;
    border-radius: 10px;
    height: 220px;
    border: 1px solid lightgrey;
    float: left;
    margin: 3% 2%;
    text-align: center;
}
.coursediv h2{
    padding: 10px;
    text-align: center;
}
.coursediv h2 a{
    text-decoration: none;
    color: rgb(255, 94, 0);
}
.coursediv img{
    width: 100%;
    border-radius: 10px;
}
.button{
    color: white;
    background-color: green;
    width: 30%;
    border-radius: 5px;
    border: 1px solid green;
    padding: 3px;
}
.button:hover{
    background-color: rgb(180, 180, 255);
}
.success{
    text-align: center;
    font-size: 18px;
    color: deeppink;
}
.img{
    width: 180px;
    height: 250px;
    padding: 10px;
    background-color: azure;
}
.aboutus{
    text-align: center;
    font-size: 18px;
    color: rgb(46, 0, 198);
    width: 100%;
}
.abt{
    width: 80%;
    text-align: center;
    margin: 0% 10%;
    color: rgb(0, 0, 0);
}
.footer{
    height: 480px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
}
.footer div h1{
    
    color: yellow;
    padding: 30px;
}
.ytlinks{
    float: left;
    width: 25%;
}
.ytlinks a{
    text-decoration: none;
    color: white;
    padding: 40px;
}
.smlinks{
    float: left;
    width: 30%;
}
.smlinks a{
    text-decoration: none;
    color: white;
    padding: 40px;
}
.fdb{
    float: left;
    width: 40%;
    
}
.fdb h3{
    color: white;
    padding: 0px 40px;
}
.fdb input{
    margin: 0px 40px;
}
.fdb textarea{
    margin: 0px 40px;
}
.form{
    width: 235px;
}
.btn{
    background-color: lightgray;
}
.form1{
    width: 80%;
    margin: 0 auto auto;
    text-align: center;
}
#submit{
    width: 8%;
    margin-left: 10px;
}
.login1 h1{
    padding: 22px;
    color: red;
    text-align: center;
}
.err{
    color: red;
    text-align: center;
}